/* GENERAL STYLES */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    box-sizing: inherit;
}

body {
    display: flex;
}

/* FORM STYLES */
.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4b8bf;
}

.new-book {
    max-width: 90%;
    margin: 10px auto; 
    padding: 15px 30px;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.popup {
    display: none;
}

/* BOOK STYLES */
.books {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    margin: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f5eae3;
    line-height: 1.5;
}

.remove-book {
    width: 25px;
    height: 25px;
    margin-left: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.read-book-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
}

input[type=checkbox] {
    margin: 0 10px;
}