/* GENERAL STYLES */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: stretch;
    font-family: 'Open Sans', sans-serif;
}

input {
    font-family: 'Open Sans', sans-serif;
}

/* FORM STYLES */
.heading {
    margin: 25px;
    font-size: 3em;
    text-align: center;
}

.subheading {
    margin: 25px;
    border-bottom: 3px double black;
    font-size: 1.5em;
    text-align: center;
    line-height: 2;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4b8bf;
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

input {
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.required-field, .alert-message {
    color: red;
}

.read-book {
    display: flex;
    align-items: center;
}

/* BOOK STYLES */
.books {
    flex: 3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
    overflow: auto;
}

.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 25px;
    padding: 25px;
    border-radius: 10px;
    background-color: #f5eae3;
    line-height: 2;
}

.remove-book {
    width: 25px;
    height: 25px;
    margin-left: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.title {
    font-style: italic;
}

.author {
    font-size: 0.75em;
    font-weight: bold;
}

.pages {
    font-size: 0.75em;
    font-weight: 300;
}

.read-book-container {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
}

.marked-read {
    font-size: 0.75em;    
}

input[type=checkbox] {
    margin: 0 10px;
}

/* LIBRARY LOG STYLES */
.book-log {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.count {
    line-height: 3;
}